#clockcontainer {
    position: relative;
    margin: auto;
    border: 4px solid green;
    height: 40vw;
    width: 40vw;
    background: url(images.png) no-repeat;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: green;
    border-radius: 8px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 19.8%;
    top: 32%;
    left: 49.1%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 44%;
    top: 7.9%;
    left: 49.3%;
    opacity: 0.8;
}

#second {
    width: 0.5%;
    height: 41.5%;
    top: 10%;
    left: 49.9%;
    opacity: 0.8;
}